<% include("partials/header.ejs") %>

<body>
    
<p><%= content %></p>
<hr>

<h1><%= titles[0].title %></h1>

<hr>
<% for(let i = 1; i <titles.length; i++){%>
    <p><%=titles[i].title%></p>
    <% } %>
</body>
</html>
<hr>

<a href="<%=content%>" target="_blank"><img src="<%= coverImage %>" alt="coverimage"></a>

<p><%= synopsis %></p>












<% include("partials/footer.ejs") %>