<%- include("partials/header.ejs") %>


<h1 class="test" id="test">test</h1>
<form action="/" method="get">
    <button type="submit">Random</button>
</form>

<div class="body_container">
    <div>
        <p class="test"><%= content %></p>
    </div>
<hr>
    <div>
        <h1><%= titles[0].title %></h1>
    </div>
    <div>
        <hr><p>
        <% for(let i = 1; i <titles.length; i++){%>
            <span><%=titles[i].title%>, </span>
            <% } %>
        </p>
<hr>
    </div>
    <a href="<%=content%>" target="_blank"><img src="<%= coverImage %>" alt="coverimage"></a>
    <% if(locals.synopsis){ %>
    <p>Synopsis: <%= synopsis %></p>
    <% } else{ %>
        <p>Synopsis: None</p>
        <% } %>
</div>







<%- include("partials/footer.ejs") %>