<%- include("partials/header.ejs") %>

<div class="body_container_search">
    <!-- 
    ==========================
    SEARCH RESULT 
    ==========================
    -->
    <% if(locals.itemsearched){%>
        <h1>Search result for: <%= itemsearched %></h1>
        <p>Results: <%= searchResult.pagination.items.total  %></p>
        

        <div class="searchResult_container">
            <% searchResult.data.forEach(item => { %>
            <div class="anime_manga_box">
                <img src="<%=item.images.jpg.image_url%>" class="anime_manga_image">
                <p >
                <%= item.title %> 
                </p>
            </div>
            <% }); %>
        </div>


        

        
        <% for(index =0; index<searchResult.pagination.last_visible_page; index++){%>
            <form action="/search" method="post">
                <input type="hidden" name="searchquery" value="<%= itemsearched %>">
                <input type="hidden" name="page" value="<%= index+1 %>">
                <button type="submit"><%= index+1 %></button>
            </form>
        <% } %>



    <!-- 
    ==========================
    SEARCH BAR
    ==========================
     -->
    <%} else {%>
    <form action="/search" method="post">
        <input type="text" id="searchy" name="searchquery" placeholder="Search" autocomplete="off" class="searchDesign">
    </form>
    <%} %>
</div>


<!-- FOOTER -->
<%- include("partials/footer.ejs") %>