<%- include("partials/header.ejs") %>

<div class="body_container_search">
    <!-- 
    ==========================
    SEARCH RESULT 
    ==========================
    -->
    <% if(locals.itemsearched){%>
        <h1>Search result for: <%= itemsearched %></h1>
        <p>Results: <%= searchResult.pagination.items.total  %></p>
        

        <div class="searchResult_container">
            <% searchResult.data.forEach(item => { %>
            <div class="anime_manga_box">
                <img src="<%=item.images.jpg.image_url%>" class="anime_manga_image">
                <p >
                <%= item.title %> 
                </p>
            </div>
            <% }); %>
        </div>


        
        <p>
            Page: <%= searchResult.pagination.current_page %> 
            <br>
            Last Page: <%= searchResult.pagination.last_visible_page %>
            <br>
        </p>
    <!-- 
    ==========================
    SEARCH BAR
    ==========================
     -->
    <%} else {%>
    <form action="/search" method="post">
        <input type="text" id="searchquery" name="searchquery" placeholder="Search" class="searchDesign">
    </form>
    <%} %>
</div>


<!-- FOOTER -->
<%- include("partials/footer.ejs") %>