<%- include("partials/header.ejs") %>
<!--  -->
<div class="body_container">
    <div class="cover_container">
        <img src="<%= coverImage %>" alt="coverimage">
    </div>
    <div class="details">
        <div>
            <h1><%= titles[0].title %></h1>
        <% if(locals.synopsis){ %>
            <p>Synopsis: <%= synopsis %></p>
            <% } else{ %>
                <p>Synopsis: None</p>
        <% } %>
        </div>

    </div>
</div>
<!-- BODY CONTAINER -->
<div class="body_container">
    <div>
        <p class="test"><%= content %></p>
    </div>
<hr>
    <div>
        <h1><%= titles[0].title %></h1>
    </div>
    <div>
        <hr><p>
        <% for(let i = 1; i <titles.length; i++){%>
            <span><%=titles[i].title%>, </span>
            <% } %>
        </p>
<hr>
    </div>
    <% if(locals.synopsis){ %>
        <p>Synopsis: <%= synopsis %></p>
        <% } else{ %>
            <p>Synopsis: None</p>
    <% } %>

<!-- RANDOM BUTTON -->
<h1 class="test" id="test">test</h1>
<form action="/random" method="get">
    <button type="submit">Random</button>
</form>

</div>



<!-- FOOTER -->
<%- include("partials/footer.ejs") %>