<%- include("partials/header.ejs") %>
<!-- 
=============
Viewing Selection
=============
-->
<div class="body_container">

    <!-- 
    ~~~~~~~~~
    TITLE 
    ~~~~~~~~~
    -->

    <div class="title_container">
        <h1>
            <%= title %>
        </h1>
        <p>
            other titles: <%= content.titles.slice(1).map(items => items.title).join(",") %>
        </p>
    </div>

    <!-- 
    ~~~~~~~~
    Content 
    ~~~~~~~~
    -->
    <div class="content_container">

        <div class="cover_container">
            <img src="<%= coverImage %>" alt="coverimage">
        </div>

        <div class="details">
            <div>

            <!-- Genre -->
            <% if(locals.content.genres[0]){ %>
                <p> Genre: <%= content.genres.map(item =>item.name).join(",") %></p>
                    <% } else{ %>
                <p> Genre: None </p>
            <% } %>

            <!-- Studio -->
            <% if(locals.content.studios[0]){ %>
                <p> Studio: <%= content.studios[0].name %> </p>
                    <% } else{ %>
                <p> Studio: Unkown </p>
            <% } %>

            <!-- Aired -->
            <p> Aired: <%= content.aired.string %></p>
            <!-- Status -->
             <p> Status: <%= content.status %></p>
            <!-- MAL SCORE -->
             <p> MAL Score: <%= content.score %></p>

            <!-- Synopsis -->
            <% if(locals.synopsis){ %>
                <p>Synopsis: <%= synopsis %></p>
                    <% } else{ %>
                <p>Synopsis: None</p>
            <% } %>
            </div>
        </div>

    </div>
</div>


<!-- FOOTER -->
<%- include("partials/footer.ejs") %>